@model LibraryPro1.Models.Book

<link rel="stylesheet" href="~/css/book.css" />

<div class="book-container">

    <h1 class="book-title">Add New Book</h1>

    <form asp-action="Create">

        <div class="form-group">
            <label>Book Name</label>
            <input asp-for="BookName" class="form-control" />
        </div>

        <div class="form-group">
            <label>Author</label>
            <input asp-for="Author" class="form-control" />
        </div>

        <div class="form-group">
            <label>Category</label>
            <input asp-for="Category" class="form-control" />
        </div>

        <div class="form-group">
            <label>Quantity</label>
            <input asp-for="Quantity" class="form-control" />
        </div>

        <button type="submit" class="btn-save">
            Save Book
        </button>

    </form>

</div>